* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f5f5f5;
    color: #131313;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    color: #131313;

}

header img {
    width: 200px;
    height: 200px;
    margin-bottom: -30px;
    z-index: 20px;
}

h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 300;
    font-size: 32px;
}

dl>div {
    padding-top: 24px;
    margin: 20px auto;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

dt {
    background-color: #231f20;
    border-bottom: 1px solid #989ea4;
    border-top: 1px solid #717d85;
    color: #fff;
    font: bolder 26px Helvetica, Arial, sans-serif;
    padding: 8px 16px;
    position: sticky;
    top: 0;
    z-index: 5;
}

dd {
    font: bold 20px/45px Helvetica, Arial sans-serif;
    margin: 0;
    padding: 0 0 0 12px;
    white-space: nowrap;

}

dd+dd {
    border-top: 1px solid #ccc;
}

a {
    text-decoration: none;
}

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 300;
    font-style: normal;
}